<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>caption</key>
		<string>Cadiz</string>
		<key>imageName</key>
		<string>cadiz</string>
		<key>section</key>
		<string>Andalucia</string>
		<key>index</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>Huelva</string>
		<key>imageName</key>
		<string>huelva</string>
		<key>section</key>
		<string>Andalucia</string>
		<key>index</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>Sevilla</string>
		<key>imageName</key>
		<string>sevilla</string>
		<key>section</key>
		<string>Andalucia</string>
		<key>index</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>Cordoba</string>
		<key>imageName</key>
		<string>cordoba</string>
		<key>section</key>
		<string>Andalucia</string>
		<key>index</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>Jaen</string>
		<key>imageName</key>
		<string>jaen</string>
		<key>section</key>
		<string>Andalucia</string>
		<key>index</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>Granada</string>
		<key>imageName</key>
		<string>granada</string>
		<key>section</key>
		<string>Andalucia</string>
		<key>index</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>Malaga</string>
		<key>imageName</key>
		<string>malaga</string>
		<key>section</key>
		<string>Andalucia</string>
		<key>index</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>Almeria</string>
		<key>imageName</key>
		<string>almeria</string>
		<key>section</key>
		<string>Andalucia</string>
		<key>index</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>Badajoz</string>
		<key>imageName</key>
		<string>badajoz</string>
		<key>section</key>
		<string>Extremadura</string>
		<key>index</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>Caceres</string>
		<key>imageName</key>
		<string>caceres</string>
		<key>section</key>
		<string>Extremadura</string>
		<key>index</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>Ceuta</string>
		<key>imageName</key>
		<string>ceuta</string>
		<key>section</key>
		<string>Ciudades Autonomas</string>
		<key>index</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>Melilla</string>
		<key>imageName</key>
		<string>melilla</string>
		<key>section</key>
		<string>Ciudades Autonomas</string>
		<key>index</key>
		<integer>11</integer>
	</dict>
</array>
</plist>
