<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Caption</key>
		<string>Cadiz</string>
		<key>Comment</key>
		<string>Cádiz is an ancient port city in southwest Spain, on a strip of land surrounded by the sea.</string>
		<key>Photo</key>
		<string>01</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Huelva</string>
		<key>Comment</key>
		<string>Huelva is a city in southwestern Spain, the capital of the province of Huelva in the autonomous region of Andalusia. </string>
		<key>Photo</key>
		<string>02</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Sevilla</string>
		<key>Comment</key>
		<string>Seville is the capital of southern Spain’s Andalusia region and a hotbed for flamenco dance, especially in the Triana neighborhood.</string>
		<key>Photo</key>
		<string>03</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Cordoba</string>
		<key>Comment</key>
		<string>Córdoba is a city in the southern Spanish province of Andalusia. It was an important Roman city and an Islamic cultural center in the Middle Ages.</string>
		<key>Photo</key>
		<string>04</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Jaen</string>
		<key>Comment</key>
		<string>Jaén is a city in south-central Spain. The name is derived from the Arabic word khayyān.</string>
		<key>Photo</key>
		<string>05</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Granada</string>
		<key>Comment</key>
		<string>Granada, in the foothills of the Sierra Nevada mountains in Andalucía, has many important examples of medieval architecture dating to the Moorish occupation of Spain.</string>
		<key>Photo</key>
		<string>06</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Malaga</string>
		<key>Comment</key>
		<string>Málaga is a port city on southern Spain’s Costa del Sol, known for its high-rise hotels and resorts jutting up from yellow-sand beaches.</string>
		<key>Photo</key>
		<string>07</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Almeria</string>
		<key>Comment</key>
		<string>Almería is a city in Andalusia, Spain, situated in the southeast of Spain on the Mediterranean Sea. It is the capital of the province of the same name.</string>
		<key>Photo</key>
		<string>08</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Ceuta</string>
		<key>Comment</key>
		<string>Ceuta Spanish autonomous city located on the north coast of Africa, sharing a western border with Morocco.</string>
		<key>Photo</key>
		<string>09</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Melilla</string>
		<key>Comment</key>
		<string>Melilla is a Spanish autonomous city located on the north coast of Africa, sharing a border with Morocco with an area of 12.3 square kilometres. Melilla, along with Ceuta, is one of two permanently inhabited Spanish cities in mainland Africa.</string>
		<key>Photo</key>
		<string>10</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Badajoz</string>
		<key>Comment</key>
		<string>Badajoz is the capital of the Province of Badajoz in the autonomous community of Extremadura, Spain. It is situated close to the Portuguese border, on the left bank of the river Guadiana.</string>
		<key>Photo</key>
		<string>11</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Caceres</string>
		<key>Comment</key>
		<string>Cáceres is the capital of Cáceres province, in the autonomous community of Extremadura, Spain.</string>
		<key>Photo</key>
		<string>12</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Murcia</string>
		<key>Comment</key>
		<string>Murcia is a university city in southeastern Spain and the capital of the region of Murcia. Plaza Cardinal Belluga is the city’s architectural showpiece.</string>
		<key>Photo</key>
		<string>13</string>
	</dict>
</array>
</plist>
