<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Camera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FD63D771C76019B00EC6E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FD63D8B1C76019C00EC6E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FD63D961C76019C00EC6E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
